.page-header {
    background: url("ocean1.jpg") no-repeat;
    background-size: cover;
    background-color: #282c34;
    z-index: 0;
    min-height: 95vh;
    max-height: 999px;
    padding: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden;}
.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1; }
.page-header .content-center {
    position: absolute;
    top: 40%;
    right: 30%;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    width: 100%;
    height: 100%;
    max-width: 880px;
}
.page-header .container {
    height: 100%;
    z-index: 1; }

.page-middle {
    background-color:#292E4A;
    z-index: 0;
    min-height: 35vh;
    max-height: 999px;
    padding: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden; }

.text-dark {
    color: #2bffc6 !important; }
.App-logo {
    display: inline;
    height: 40vmin;
    pointer-events: none;
    float:left;
    margin-bottom: 1rem !important;
}
.text-left {
    text-align: left !important; }

.info {
    max-width: 400px;
    margin: 0 auto;
    padding: 0px 40px 0px;
    float: left;
    width: 50%;
    position: relative;
}

.info .info-title {
    margin: 1.75rem 0 0.875rem; }

.icon_color1{
    color: aqua;
}

.icon_color2{
    color: fuchsia;
}

.icon_color3{
    color: yellowgreen;
}

.justify-content-center {
    justify-content: center !important; }

.text-center {
    text-align: center !important; }

.horizontal-line{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    transform: rotate(180deg);
    border-color: grey;
}

.explore{
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 30px 30px;
    float: left;
    width: 50%;

}

.page-end {
    background-color:#384069;
    z-index: 0;
    min-height: 100vh;
    max-height: 1000px;
    padding: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden; }

.text-white{
    color: 0xffffff;
}

