.link {
    --backgroundcolor: transparent;
    display: inline-block;
    background-color:var(--backgroundcolor);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 2px solid var(--backgroundcolor);
    box-sizing: border-box;
    vertical-align: center;
    height: var(--height);
}
.logo {
    --backgroundcolor: transparent;
    display: inline-block;
    background-color:var(--backgroundcolor);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 2px solid var(--backgroundcolor);
    box-sizing: border-box;
    vertical-align: center;
    height: var(--height);
    font-size: 30px !important;

}
.link:hover {
    border-bottom: 2px solid white;
    transition: all 0.3s ease-in-out 0s;
}