.slideImg{
    max-height: 50%;
    max-width:50%;
    object-fit:cover;
}

.carousel{
    display:inline-block;
    z-index: 0;
    min-height: 95vh;
    max-height: 999px;
    width: 100%;
    padding: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}